@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

.contacts-container {
  font-family: "Oswald", sans-serif;
  margin-left: -50px;
}

.contact-us {
  color: rgba(255, 255, 255, 0.7);
  padding-top: 200px;
  padding-left: 800px;
  font-weight: 50;
  font-size: 34px;
  letter-spacing: 0.1cm;
}

.quote {
  color: rgba(255, 255, 255, 0.7);
  justify-content: center;
  align-items: center;
  padding-top: 170px;
  padding-left: 760px;
  width: 480px;
  font-weight: 50;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-size: 15px;
}

.author {
  font-family: "Oswald", sans-serif;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
  line-height: 1.4em;
  letter-spacing: 0.2em;
  font-weight: 50;
  padding-left: 940px;
  margin-top: 20px;
}

.form-container {
  margin-left: 700px;
  color: white;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.7);
  font-family: "proxima-nova", sans-serif;
}

.form-control h5 {
  color: rgba(255, 255, 255, 0.7);
}

.email-address {
  color: rgba(255, 255, 255, 0.7);
  font-size: 13px;
  margin-left: 900px;
  margin-top: 100px;
  user-select: all;
}

.email {
  color: white;
}

h5 {
  font-size: 13px;
  margin-top: 5px;
}

.message {
  width: 570px;
  height: 100px;
  margin-top: 10px;
  background-color: #fafafa;
}

button {
  cursor: pointer;
  width: 130px;
  height: 46px;
  margin-top: 10px;
  margin-left: 230px;
  background-color: transparent;
  border-width: 2px;
  color: white;
  border-color: white;
  border-style: solid;
}

button:hover {
  background-color: white;
  color: black;
}
.email-input {
  margin-top: 10px;
  width: 570px;
  height: 46px;
  background-color: #fafafa;
}

.name-input {
  margin-top: 10px;
  width: 570px;
  height: 46px;
  background-color: #fafafa;
}

.required {
  font-size: 10px;
  margin-left: 5px;
}

.email-container {
  margin-top: 5px;
}

.show-email {
  color: white;
  margin-left: 900px;
  font-size: 14px;
  margin-top: 20px;
}

.show-email > span {
  color: rgba(255, 255, 255, 0.7);
}
