@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

.contacts-container {
  font-family: "Oswald", sans-serif;
  align-items: center;
  justify-content: center;
}

.contact-us {
  color: white;
  padding-top: 200px;
  padding-left: 800px;
  font-weight: 50;
  font-size: 34px;
}
