.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  position: absolute;
  margin-top: 15px;
}

ul {
  display: flex;
  list-style: none;
  position: absolute;
  left: 470px;
}

.navbar ul li a {
  text-decoration: none;
  margin-left: 70px;
  color: white;
  font-family: "Alegreya Sans SC", sans-serif;
  margin-right: 70px;
}

.navbar-logo {
  position: absolute;
}

.navbar-container a > span {
  font-weight: 700;
  margin-inline-end: 1em;
}

.navbar {
  background-color: black;
  position: fixed;
}

.navbar ul li {
  padding: auto;
}

.navbar ul li a:hover {
  color: red;
}

li.selected {
  color: #f00;
}

.indicator {
  position: absolute;
  bottom: -4.5rem;
  height: 3px;
  background-color: #f00;
  transition: transform 0.3s ease-in-out;
  transform-origin: right;
  margin-left: 170px;
  z-index: 1;
}

.navbar ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: red;
  transition: width 0.3s ease-in-out;
  margin-left: 70px;
}

.navbar ul li a:hover::after {
  width: 60%;
}

nav {
  margin-top: 10px;
}

.navbar-container a {
  font-size: 14px;
}
